.footer{
    text-align: center;
    background-color: aqua;
    padding: 20px;
    margin: 0 auto;
    color: black;
    font-family: Raleway;
    font-size: 18px;
    font-weight: bolder;
    word-spacing: 5px;
    margin-top: 5%;
}

hr{
    background-color: black;
    margin-top: 40px;
    width: 80%;
    border-color: black;
    border : 1.8px solid;
}