<div class="input">
    <form>
        <table align="center">
            <th>
                <input type="text" #data class="mytext" placeholder=" Add items to your  ' Todo '" name="todo"></th>

            <tr>

                <td>
                    <span style="cursor: pointer;" class="button material-icons" (click)="add(data)">add_circle</span>
                </td>

            </tr>
             
            <tr>

                <div class="container">

                    <div class="list">
                        <ul class="li1">
                            <li *ngFor="let list of lists">{{ list }}<span class="delete material-icons"
                                    (click)="delete1(list)">delete</span>
                            </li>
                        </ul>
                        <ul class="li2" *ngIf="datas.length > 0">
                            <li *ngFor="let data of datas">{{ data }}<span class="delete material-icons"
                                    (click)="delete(data)">delete</span>
                            </li>
                        </ul>


                    </div>
                </div>


            </tr>

        </table>
    </form>
</div>
<div class="footer">
    The < TODO-<small><i>list</i></small> > count is : {{count+1}}
</div>
