.li1{
    color: black;
    text-align: center;
    margin: 50 auto; 
    cursor: pointer;
}

.li2{
    color: black;
    text-align: center;
    cursor: pointer;   
}

.material-icons { font-size: 20px; }

.container{
    width: 250px;
    background: rgba(0, 151, 19, 0.1);
    background-color: yellow;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    font-family: Raleway;
    
}

.input{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    
}


form{ max-width: 25em; margin: 1em auto;}

.mytext {
    width: 300px;
    font-weight: bold;
    padding: 15px;
    font-family: Raleway;
    
}

.button{
    
    font-size: 50px;
    padding: 5px;
    margin: 10px 10px 0 0;
    text-align: center;
    align-items: center;
    display: grid;
    
    
}

.delete{
    font-size: 20px;
    text-align: justify;
    align-items: justify;
    margin-left: 20%;
    letter-spacing: 10px;
    cursor: pointer;
}

.footer{
    
    text-align: center;
    background-color: aqua;
    padding: 20px;
    margin: 0 auto;
    color: black;
    font-family: Raleway;
    font-size: 18px;
    font-weight: bolder;
    word-spacing: 5px;
    width: 60%;
    margin-top: 50px;
}
