.input{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

body{ padding: 0;
     margin: 0;
     width: 50%;
     
}

form{ max-width: 25em; margin: 1em auto;}

.mytext {
    width: 300px;
    font-style: italic;

}




